<div
  class="container-fluid vh-100 login-page d-flex align-items-center justify-content-center position-relative"
>
  <div class="cover-up position-absolute w-100 h-100"></div>
  <div class="row w-100 h-100 position-relative">
    <div
      class="col-12 col-md-6 d-flex align-items-center justify-content-center"
    >
      <div class="login-container bg-light p-4 rounded-4 shadow w-75">
        <h2 class="text-center mb-4">Registro</h2>

        <form class="p-3">
          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              placeholder="Ingresa tu nombre"
              [(ngModel)]="user.firstName"
              name="firstName"
            />
          </mat-form-field>

          
          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>DNI</mat-label>
            <input
              matInput
              placeholder="Ingresa tu documento"
              [(ngModel)]="user.dni"
              name="dni"
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Teléfono</mat-label>
            <input
              matInput
              placeholder="Ingresa tu teléfono"
              [(ngModel)]="user.phone"
              name="phone"
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Género</mat-label>
            <mat-select [(ngModel)]="user.gender" name="gender">
              <mat-option value="masculino"> masculino </mat-option>
              <mat-option value="femenino"> femenino </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Username</mat-label>
            <input
              matInput
              placeholder="Ingresa tu teléfono"
              [(ngModel)]="user.username"
              name="username"
            />
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Ingresa tu teléfono"
              [(ngModel)]="user.password"
              name="password"
            />
          </mat-form-field>
          <button
            type="button"
            mat-raised-button
            color="primary"
            class="w-100 mb-2 bg-login-btn"
            (click)="register()"
          >
            REGISTRARSE
          </button>
          <a
            mat-raised-button
            color="primary"
            class="w-100 mb-2 bg-login-btn"
            [routerLink]="['/login']"
          >
            Login
          </a>
        </form>
      </div>
    </div>

    <div
      class="col-12 col-md-6 d-none d-md-flex align-items-center justify-content-center text-center text-light"
    >
      <div>
        <h1 class="display-1 fw-bold login-brand-title">AUREA</h1>
        <h1 class="display-1 fw-bold login-brand-title">CULTURA</h1>
      </div>
    </div>
  </div>
</div>
