<div class="container-fluid bg-home">
  <app-menu-admin></app-menu-admin>
  <div class="container py-5 d-flex justify-content-center">
    <form
      [formGroup]="clientForm"
      (ngSubmit)="grabar()"
      class="w-100 form-grid"
    >
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-field">
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" formControlName="firstName" />
              <mat-error
                *ngIf="clientForm.get('firstName')?.hasError('required')"
              >
                Nombre es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-field">
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Apellido</mat-label>
              <input matInput type="text" formControlName="lastName" />
              <mat-error
                *ngIf="clientForm.get('lastName')?.hasError('required')"
              >
                Apellido es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-field">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Género</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="masculino"> masculino </mat-option>
                <mat-option value="femenino"> femenino </mat-option>
              </mat-select>
              <mat-error *ngIf="clientForm.get('gender')?.hasError('required')">
                Seleccione un género.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-field">
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Edad</mat-label>
              <input matInput type="text" formControlName="age" />
              <mat-error *ngIf="clientForm.get('age')?.hasError('required')">
                Edad es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-field">
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Teléfono</mat-label>
              <input matInput type="text" formControlName="phone" />
              <mat-error *ngIf="clientForm.get('phone')?.hasError('required')">
                Teléfono es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-field">
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Dni</mat-label>
              <input matInput type="text" formControlName="dni" />
              <mat-error *ngIf="clientForm.get('dni')?.hasError('required')">
                Dni es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row mb-3 align-items-center">
            <div class="col-md-4 fw-semibold fs-4">Género cinematográfico</div>
            <div class="col-md-8 d-flex flex-wrap gap-2">
              <button
                mat-button
                class="interes-btn"
                [ngClass]="{
                  active: categoriasSeleccionadas.includes('Suspenso')
                }"
              >
                Suspenso
              </button>
              <button
                mat-button
                class="interes-btn"
                [ngClass]="{
                  active: categoriasSeleccionadas.includes('Terror')
                }"
              >
                Terror
              </button>
              <button
                mat-button
                class="interes-btn"
                [ngClass]="{
                  active: categoriasSeleccionadas.includes('Dramatico')
                }"
              >
                Dramático
              </button>
            </div>
          </div>

          <div class="row mb-3 align-items-center">
            <div class="col-md-4 fw-semibold fs-4">Periodo artístico</div>
            <div class="col-md-8 d-flex flex-wrap gap-2">
              <button
                mat-button
                class="interes-btn"
                [ngClass]="{
                  active: categoriasSeleccionadas.includes('Barroco')
                }"
              >
                Barroco
              </button>
              <button
                mat-button
                class="interes-btn"
                [ngClass]="{
                  active: categoriasSeleccionadas.includes('Rococó')
                }"
              >
                Rococó
              </button>
              <button
                mat-button
                class="interes-btn"
                [ngClass]="{
                  active: categoriasSeleccionadas.includes('Impresionismo')
                }"
              >
                Impresionismo
              </button>
            </div>
          </div>

          <div class="row mb-4 align-items-center">
            <div class="col-md-4 fw-semibold fs-4">Género literario</div>
            <div class="col-md-8 d-flex flex-wrap gap-2">
              <button
                mat-button
                class="interes-btn"
                [ngClass]="{
                  active: categoriasSeleccionadas.includes('Comedia')
                }"
              >
                Comedia
              </button>
              <button
                mat-button
                class="interes-btn"
                [ngClass]="{
                  active: categoriasSeleccionadas.includes('Tragedia')
                }"
              >
                Tragedia
              </button>
              <button
                mat-button
                class="interes-btn"
                [ngClass]="{
                  active: categoriasSeleccionadas.includes('Épica')
                }"
              >
                Épica
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex gap-3 justify-content-end">
        <button
          mat-flat-button
          type="button"
          class="btn custom-dark-button text-white px-4"
          (click)="cancel()"
        >
          Cancelar
        </button>
        <button
          mat-flat-button
          class="btn custom-dark-button text-white px-4"
          [disabled]="!clientForm.valid"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
