<div
  class="container-fluid vh-100 login-page d-flex align-items-center justify-content-center position-relative"
>
  <div class="cover-up position-absolute w-100 h-100"></div>
  <div class="row w-100 h-100 position-relative">
    <div
      class="col-12 col-md-6 d-flex align-items-center justify-content-center"
    >
      <div class="login-container bg-light p-4 rounded-4 shadow w-75">
        <h2 class="text-center mb-4">Iniciar Sesión</h2>

        <div class="p-3">
          <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              placeholder="Ingresa tu nombre"
              [(ngModel)]="user.username"
            />
          </mat-form-field>

          

          <button
            mat-raised-button
            color="primary"
            class="w-100 mb-2 bg-login-btn"
            (click)="onLogin()"
          >
            INICIAR
          </button>

          <a
            [routerLink]="['/register']"
            mat-raised-button
            class="w-100 bg-login-btn"
          >
            REGÍSTRATE
          </a>
        </div>
      </div>
    </div>

    <!-- Columna derecha: Branding -->
    <div
      class="col-12 col-md-6 d-none d-md-flex align-items-center justify-content-center text-center text-light"
    >
      <div>
        <h1 class="display-1 fw-bold login-brand-title">AUREA</h1>
        <h1 class="display-1 fw-bold login-brand-title">CULTURA</h1>
      </div>
    </div>
  </div>
</div>
