<div class="container-fluid bg-home">
  <!--Hola mundo-->
  <app-menu-admin></app-menu-admin>
  <div class="container py-4">
    <!-- Filtros -->
    <div class="d-flex align-items-center mb-4 gap-3">
      <button mat-icon-button (click)="back()">
        <mat-icon class="mb-2">arrow_back</mat-icon>
      </button>
      <div class="d-flex flex-wrap align-items-center gap-2">
        <span class="fw-semibold me-2">Filtros:</span>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Tipo</mat-label>
                <mat-select
                  (selectionChange)="selectFilter($event.value, 'eventType')"
                >
                  <mat-option [value]="0">Todos</mat-option>
                  <mat-option *ngFor="let type of eventTypes" [value]="type.id">
                    {{ type.eventName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-4">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Promotor</mat-label>
                <mat-select
                  (selectionChange)="selectFilter($event.value, 'promoter')"
                >
                  <mat-option [value]="0">Todos</mat-option>
                  <mat-option
                    *ngFor="let promoter of promotors"
                    [value]="promoter.id"
                  >
                    {{ promoter.details }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-4">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Ciudad</mat-label>
                <mat-select
                  (selectionChange)="selectFilter($event.value, 'city')"
                >
                  <mat-option [value]="0">Todos</mat-option>
                  <mat-option *ngFor="let city of cities" [value]="city.id">
                    {{ city.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-4">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Sponsor</mat-label>
                <mat-select
                  (selectionChange)="selectFilter($event.value, 'sponsor')"
                >
                  <mat-option [value]="0">Todos</mat-option>
                  <mat-option
                    *ngFor="let sponsor of sponsors"
                    [value]="sponsor.id"
                  >
                    {{ sponsor.nombreSponsor }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-4">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Expositor</mat-label>
                <mat-select
                  (selectionChange)="selectFilter($event.value, 'expositor')"
                >
                  <mat-option [value]="0">Todos</mat-option>
                  <mat-option
                    *ngFor="let expositor of expositors"
                    [value]="expositor.id"
                  >
                    {{ expositor.nameExpositor }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <button
                mat-button
                class="btn custom-dark-button"
                (click)="filterEvents()"
              >
                Filtrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4">
      <div
        class="col-md-4"
        *ngFor="let evento of eventsFiltereds.slice(0, visibleCount)"
      >
        <div
          class="border rounded-3 h-100 d-flex flex-column overflow-hidden shadow-sm"
        >
          <img
            [src]="eventService.getImage(evento.image)"
            onerror="this.onerror=null;this.src='assets/images/img_not_found.jpg';"
            alt="evento"
            class="img-fluid"
            style="aspect-ratio: 16/9; object-fit: cover"
          />
          <div
            class="info-box p-3 flex-grow-1 d-flex flex-column justify-content-between"
          >
            <div>
              <div class="fw-semibold small">
                {{ evento.startDate | date : "d 'de' MMMM" : "" : "es-ES" }}
              </div>
              <div class="small text-muted mb-3">{{ evento.nombre }}</div>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <mat-icon
                  class="star"
                  [ngClass]="{ favorite: setFavoriteClass(evento.id) }"
                  (click)="setFavorite(evento.id)"
                  >favorite</mat-icon
                >
              </div>
              <button
                mat-raised-button
                class="btn custom-dark-button btn-sm align-self-start mt-auto"
                (click)="buy(evento.id)"
              >
                Comprar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    @if(eventos.length > 6){
    <div class="text-center mt-4">
      <button
        mat-raised-button
        color="primary"
        class="btn custom-dark-button px-4"
      >
        Mas
      </button>
    </div>
    }
  </div>
</div>
