.header {
  background-color: #f9f5ef;
  height: 70px;
  position: relative;
}

.aurea-title {
  color: #c89b3c;
  font-family: 'Georgia', serif;
  letter-spacing: 1px;
}

.menu-button {
  position: absolute;
  background-color: transparent;
  right: 1rem;
  top: 1.2rem;
  color: #000;
  border-color: transparent;
}