<div class="container-fluid bg-home">
  <app-menu-admin></app-menu-admin>
  <div class="container py-4 text-center">
    <h4 class="fw-bold mb-4">Déjanos tu Reclamo</h4>

    <div class="col-12 col-md-6 mx-auto p-4 rounded-4 text-start bg-maroon">
      <form>
         <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label class="">Título</mat-label>
          <input matInput type="text" (ngModel)="(claim.Title)" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100 mb-4">
          <mat-label class="">Descripción</mat-label>
          <textarea
            matInput
            rows="4"
            (ngModel)="(claim.description)"
          ></textarea>
        </mat-form-field>

        <div class="text-end">
          <button
            type="button"
            mat-flat-button
            class="btn custom-dark-button text-white px-4"
            (click)="grabar()"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
