<div class="container-fluid bg-home">
  <app-menu-admin></app-menu-admin>
  <div class="container">
    <h4 class="mb-3">Crear Sponsor</h4>
    <div class="form-container">
      <form [formGroup]="sponsorForm" (ngSubmit)="grabar()" class="form-grid">
        <div class="form-field">
          <mat-form-field appearance="fill" class="w-50">
            <mat-label>Sponsor</mat-label>
            <input matInput formControlName="nombreSponsor" />
            <mat-error
              *ngIf="sponsorForm.get('nombreSponsor')?.hasError('required')"
            >
               El nombre del sponsor es obligatorio.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-flex mt-5 gap-3">
          <button
            mat-raised-button
            class="btn custom-dark-button"
            [disabled]="!sponsorForm.valid"
          >
            Grabar
          </button>
          <button
            mat-raised-button
            class="btn custom-dark-button"
            type="button"
            (click)="cancelar()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
