<div class="container-fluid bg-home">
  <app-menu-admin></app-menu-admin>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h3 class="mb-4">Tipo de eventos</h3>
      </div>
      <div class="col-4 d-flex justify-content-end">
        <button
          mat-flat-button
          class="btn custom-dark-button text-white d-flex align-items-center justify-content-center gap-2 px-4 py-2"
          (click)="newEvent()"
        >
          <mat-icon>add</mat-icon>
          Agregar tipo evento
        </button>
       </div>
    </div>
    <app-table
      [columns]="columns"
      [data]="typeEvents"
      (editEventHandler)="edit($event)"
      (deleteEventHandler)="delete($event)"
    ></app-table>
  </div>
</div>
